body{
    margin: 0;
    overflow: hidden;

}
canvas{
    display: block;
}
#canvas-container {
    width: 1920PX;
    height: 1080PX;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #0d0d0d;
  }